* {

    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

nav {
    background-color: #d2374e;
    justify-content: center;
    display: flex;
    height: 12%;
}

.x {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

.x h1 {
    font-size: 50px;
    padding-top: 10px;
    color: white;
}

.x img {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 20%;
}

nav h1 {
    padding: 10px;
}

nav ul {

    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

nav li {
    height: 50px;
    font-size: 1.4em;
}

nav .bar a {
    color: white;
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;

}

nav .bar {
    margin-right: 2%;
}

nav .bar a:hover {
    background-color: #ffffff;
    color: #d2374e;
    border-radius: 3px;
}


/* Calculator page*/


main {
    display: flex;
    /* Use flexbox for layout */
    justify-content: space-between;
    /* Distribute space between the calculator and the table */

    margin-right: 5%;
    margin-left: 5%;
}

#calculator {
    background-color: #fff;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    padding: 20px;
    height: 70vh;
    font-size: 1.5em;
    width: 50%;
}



#calculator h2 {
    padding-bottom: 1em;
    font-size: 1.5em;
}

#calculator p {
    width: 80%;
    font-size: 0.8em;
    text-align: justify;
    padding-bottom: 1em;
}

#calculator li {
    margin-bottom: 8px;
}

label {
    display: block;
    margin-bottom: 10px;
}

.cal-input {
    width: 80%;
    height: 3em;
    padding: 8px;
    margin-bottom: 20px;
    box-sizing: border-box;
    font-size: 0.7em;
}

button {
    background-color: #d2374e;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.8em;
}

#result {
    margin-top: 20px;
}

#table {
    width: 50%;
    padding: 20px;
}

#table h2 {
    font-size: 2em;
    padding-bottom: 1em;
}

#table p {
    font-size: 1.2em;
    text-align: justify;
    padding-bottom: 1em;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #e4eaff;
}


/* End Calc */




/* footer */
.footerContainer {
    background-color: #1c1c1c;
    text-align: center;
    padding: 1.75% 3%;
    margin-top: 1%;

}

.footerContainer .leftSection,
.footerContainer .middleSection,
.footerContainer .rightSection {
    display: inline-block;
    vertical-align: top;


}

/* Footer left */

.footerContainer .leftSection {
    width: 35%;
    text-align: left;
}

.footerContainer h3 {
    color: #ffffff;
    font-size: 40px;
    margin: 0;
    text-align: left;

}



/* Footer links */

.footerContainer .links {
    color: #ffffff;
    margin: 20px 0 12px;
    font-size: 16px;
    text-align: left;
}

.footerContainer .links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: white;
    text-align: left;
}



.footerContainer .copyright {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    text-align: left;
}

.footerContainer .links a:hover {

    color: #d2374e;
}






/* Footer Center */

.footerContainer .middleSection {
    width: 34%;
    text-align: center;
}



.midlleIcons {
    float: left;
    width: 40px;
    height: 40px;
}

.footerContainer .middleSection p {
    display: inline-block;
    color: #ffffff;
    margin: 0;
    text-align: center;

}



.footerContainer .middleSection p a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    line-height: 48px;
}

.footerContainer .middleSection p a:hover {
    color: #d2374e;
    text-decoration: none;

}



.footerContainer .middleSection div,
h3 {

    text-align: left;

}

/* Footer Right */

.footerContainer .rightSection {
    width: 20%;
    text-align: left;
}




.footerContainer .rightIcons {
    margin-top: 25px;
    text-align: left;


}

.footerContainer .rightIcons a {
    display: inline-block;
    background-color: #33383b;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footerContainer .rightIcons a:hover {
    background-color: #d2374e;
}

.footerContainer .rightIcons .iconImg {
    width: 35px;
    height: 35px;
}

/* End footer */