/*header*/
nav {
    background-color: #d2374e;
    justify-content: center;
    display: flex;
    height: 12%;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

#logo h1 {
    font-size: 50px;
    padding-top: 10px;
    color: white;
}

#logo img {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 20%;
}

nav h1 {
    padding: 10px;
}

nav ul {

    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

nav li {
    height: 50px;
    font-size: 1em;
}

nav #bar a {
    color: white;
    height: 100%;
    padding: 0 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

nav #bar {
    margin-right: 2%;
}

nav #bar a:hover {
    background-color: #ffffff;
    color: #d2374e;
    border-radius: 3px;
}

* {

    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* Home Page*/
body {
    font-family: 'Montserrat', sans-serif;
}


/* general style for the page */

.scroll-button {
    display: flex;
    justify-content: center;

}

/* End for style for navigation bar */


/* Style for the first section of the home page "Brief" */
.brief {
    /*This img was retrived from https://www.pexels.com/photo/an-on-treadmill-1954524/*/

    background: URL("images/Asset-22.png") no-repeat;
    background-size: 100% 100%;
    padding: 100px;

    padding-bottom: 0;


}

.brief h1 {
    color: white;
    font-size: 3em;
    width: 50%;
}

.brief h2 {
    margin-top: 0.5em;
    color: white;
}

.brief p {
    margin-top: 0.5em;
    color: white;
    text-align: justify;
    /* font-weight: bold; */
    width: 80%;
    font-size: 25px;
}

#brief-desc {
    margin-top: 3em;
}

.brief span {
    color: #e31d3b;
    font-weight: bold;
}

.brief button {
    margin-top: 50px;
    margin-left: 30px;
    background-color: #e31d3b;
    color: white;
    font-weight: bold;
    width: 200px;
    height: 60px;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: 1em;
}

.brief a {
    color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.brief a:visited {
    text-decoration: none;
}

/*End of style for the first section of the home page "Brief" */


/* Style for the secind and the fourth section of the home page "training" and "recipes" */

.service-container {
    display: flex;
}

#training,
#recipes {
    padding: 70px;
    background-color: #1c1c1c;
    width: 70%;
    color: white;
    padding-bottom: 0;



}

#training-img {
    /* this img was retrived from https://gymplus.com.au/collections/garage-gym-package*/
    background: url("./images/FIRST-PAGE4.png") no-repeat;
    background-size: 100% 100%;
    width: 30%;
    display: flex;
    flex-direction: column;

}

#recipes-img {
    /*This img was retrived from www.skinnytaste.com*/
    background: url("./images/FIRST-PAGE5.jpg") no-repeat;
    background-size: 100% 100%;
    width: 30%;
    display: flex;
    flex-direction: column;

}

#training h1 {
    color: white;
}

#training p {
    font-size: 25px;
    letter-spacing: 2px;
    margin-top: 50px;
    color: White;
    line-height: 40px;
    font-weight: bold;
    padding-bottom: 30px;
}

#recipes p,
#calc p {
    font-size: 25px;
    letter-spacing: 2px;
    margin-top: 70px;
    color: white;
    line-height: 40px;
    font-weight: bold;
    margin-bottom: 50px;
}



#training span,
#recipes span {
    color: #e31d3b;
}

#training h2 {
    margin-top: 70px;

    padding-bottom: 10px;
}

#training li,
#calc li {

    font-size: 20px;
    padding: 10px;
    margin-left: 30px;
    list-style: none;
}

#training .check {
    fill: #e31d3b;
}

#training-img button,
#recipes-img button {
    font-family: 'Montserrat', 'sans-serif';
    background-color: #e31d3b;
    color: white;
    font-weight: bold;
    width: 220px;
    height: 60px;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: 0.8em;
    margin: 0 auto;
    margin-top: 90%;
}

#training-button,
#recipes-button {
    margin: 0 auto;
    margin-top: 90%;
}

#training-img .scroll-button,
#recipes-img .scroll-button {
    margin: 0 auto;

}

/* end of Style for the second and the fourth section of the home page "training" and "recipes" */

/* style for the third section of the home page "calculator" */
#calc {
    /* this img was retrived from https://tropeaka.com/blogs/the-latest/8-principles-of-weight-training-every-gym-goer-needs-to-know*/
    background: URL("./images/FIRST-PAGE2.png") no-repeat;
    background-size: 100% 100%;
    padding: 70px;
    padding-bottom: 0;
    color: #fff;
}

#calc span {
    color: #e31d3b;
}


#calc-button button {

    margin-left: 30px;
    background-color: #e31d3b;
    color: white;
    font-weight: bold;
    width: 200px;
    height: 60px;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: 0.8em;
    font-family: 'Montserrat', sans-serif;
}

#calc-button {
    display: flex;
    justify-content: center;
}

#calc .check {
    fill: #e31d3b;
}

#calc-button a:active,
#training-button a:active,
#recipes-button a:active {
    color: white;
    text-decoration: none;
}

#calc-button a:link,
#training-button a:link,
#recipes-button a:link {
    color: white;
    text-decoration: none;
}

#calc-button a:hover,
#training-button a:hover,
#recipes-button a:hover {
    color: white;
    text-decoration: underline;
}

#calc-button a:visited,
#training-button a:visited,
#recipes-button a:visited {
    color: white;
    text-decoration: underline;
}


/* end of style for the third section of the home page "calculator" */



/*style for the registration form section */
#register {

    color: black;
    position: relative;
    max-width: 600px;
    max-height: 600;
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 34px;
}

#all {
    background-color: #e31d3b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 750px;

}

#RegisterForm {
    padding-left: 2em;

}

#register-h1 {
    display: flex;
    justify-content: center;
}

#register form {
    margin-top: 100px;
}

.inpt {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid grey;
    border-radius: 4px;

}

#register form .input-box {
    height: 70px;
    margin: 18px 0;
}

#submit {
    display: flex;
}

#submit input {
    background-color: #1c1c1c;
    color: white;
    font-weight: bold;
    /* letter-spacing: 2px; */
    width: 200px;
    height: 60px;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
}

p {
    text-align: justify;
}

.mandatory {
    color: red;
}

/* end of style for the registration form section */
/*end of style for the home page*/





/* Footer */
#footerContainer {
    background-color: #1c1c1c;
    text-align: center;
    padding: 1.75% 3%;
}

#leftSection,
#middleSection,
#rightSection {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */
#leftSection {
    width: 35%;
    text-align: left;
}

#footerContainer h3 {
    color: #ffffff;
    font-size: 40px;
    margin: 0;
    text-align: left;
}

/* Footer links */
#links {
    color: #ffffff;
    margin: 20px 0 12px;
    font-size: 16px;
    text-align: left;
}

#links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: white;
    text-align: left;
}

#copyright {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    text-align: left;
}

#links a:hover {
    color: #d2374e;
}

/* Footer Center */
#middleSection {
    width: 34%;
    text-align: center;
}

#middleSection .midlleIcons {
    float: left;
    width: 40px;
    height: 40px;


}

#middleSection img {
    display: inline-block;
    margin: 0;
    text-align: center;
}

#middleSection a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    line-height: 48px;




}

#middleSection p {

    margin: 0;
    text-align: left;
}

#middleSection a:hover {
    color: #d2374e;
    text-decoration: none;
}

#middleSection h3 {
    text-align: left;
}

/* Footer Right */
#rightSection {
    width: 20%;
    text-align: left;
}

#rightIcons {
    margin-top: 25px;
    text-align: left;
}

#rightIcons a {
    display: inline-block;
    background-color: #33383b;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

#rightIcons a:hover {
    background-color: #d2374e;
}

.iconImg {
    width: 35px;
    height: 35px;
}