/* Stert for style for navigation bar */
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


body {
    font-family: 'Montserrat', sans-serif;
}

nav {
    background-color: #d2374e;
    justify-content: center;
    display: flex;
    height: 12%;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

#logo h1 {
    font-size: 50px;
    padding-top: 10px;
    color: white;
}

#logo img {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 20%;
}

nav h1 {
    padding: 10px;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
    font-size: 1em;
}

nav #bar a {
    color: white;
    height: 100%;
    padding: 0 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

nav #bar {
    margin-right: 2%;
}

nav #bar a:hover {
    background-color: #ffffff;
    color: #d2374e;
    border-radius: 3px;
}

/* End for style for navigation bar */
/*  The start of ourStory page */

#ref-head {
    margin-bottom: 5%;
    background-color: #1c1c1c;
    padding: 2%;
    color: white;
    text-align: center;
}

#reflection-container {

    box-shadow: 3px 3px 10px 10px rgba(0, 0, 0, 0.1);
    text-align: justify;
    padding: 5%;
    margin: 0 0 40 0;

}

#reflection-container h2 {
    text-align: center;

}


/*  The end of ourStory page */

/* Footer */
#footerContainer {
    background-color: #1c1c1c;
    text-align: center;
    padding: 1.75% 3%;
}

#leftSection,
#middleSection,
#rightSection {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */
#leftSection {
    width: 35%;
    text-align: left;
}

#footerContainer h3 {
    color: #ffffff;
    font-size: 40px;
    margin: 0;
    text-align: left;
}

/* Footer links */
#links {
    color: #ffffff;
    margin: 20px 0 12px;
    font-size: 16px;
    text-align: left;
}

#links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: white;
    text-align: left;
}

#copyright {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    text-align: left;
}

#links a:hover {
    color: #d2374e;
}

/* Footer Center */
#middleSection {
    width: 34%;
    text-align: center;
}

#middleSection .midlleIcons {
    float: left;
    width: 40px;
    height: 40px;


}

#middleSection img {
    display: inline-block;
    margin: 0;
    text-align: center;
}

#middleSection a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    line-height: 48px;
}

#middleSection p {

    margin: 0;
    text-align: left;
}

#middleSection a:hover {
    color: #d2374e;
    text-decoration: none;
}

#middleSection h3 {
    text-align: left;
}

/* Footer Right */
#rightSection {
    width: 20%;
    text-align: left;
}

#rightIcons {
    margin-top: 25px;
    text-align: left;
}

#rightIcons a {
    display: inline-block;
    background-color: #33383b;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

#rightIcons a:hover {
    background-color: #d2374e;
}

.iconImg {
    width: 35px;
    height: 35px;
}